<br>
# Mars' Python Tutorial

<br>
## Jupyter notebook:

<br>
Press Shift+Enter to run cell

In [1]:
1+1

2

<br>
## The basics: variable, types and datastructures

<br>
Use `type` to return the object's type.

In [2]:
type('Hello, welcome to our weekly workshop')

str

In [3]:
type(None)

NoneType

In [4]:
type(1)

int

In [5]:
type(1.0)

float

In [8]:
#type(add_numbers)
type(True)

bool

<br>
Tuples are an immutable data structure (cannot be altered).

In [9]:
x = (1, 'a', 2, 'b')
type(x)

tuple

<br>
Lists are a mutable data structure.

In [10]:
x = [1, 'a', 2, 'b']
type(x)

list

<br>
Use `append` to append an object to a list.

In [11]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

<br>
This is an example of how to loop through each item in the list.

In [12]:
for item in x:
    print(item)

1
a
2
b
3.3

<br>
Strings are a list of characters

In [9]:
#EXERCISE: set y to your name and print out characters from y one at time using for loop

<br>
Indexing operator with while loop:

In [13]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [9]:
#EXERCISE: print out characters from y one at time using while loop

<br>
Use `+` to concatenate lists.

In [14]:
[1,2] + [3,4]

[1, 2, 3, 4]

<br>
Use `*` to repeat lists.

In [15]:
[1]*3

[1, 1, 1]

In [20]:
#EXERCISE: how to multiply each values in list a by 3?
a = [1,1,1]
for i,elem in enumerate(a):
    a[i] = elem *3

[1, 1, 1]

<br>
Use the `in` operator to check if something is inside a list.

In [12]:
1 in [1, 2, 3]

True

<br>
Now let's look at strings. Use bracket notation to slice a string.

In [22]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

<br>
This will return the last element of the string.

In [23]:
x[-1]

'g'

<br>
This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

In [24]:
x[-4:-2]

'ri'

<br>
This is a slice from the beginning of the string and stopping before the 3rd element.

In [25]:
x[:3]

'Thi'

<br>
And this is a slice starting from the 3rd element of the string and going all the way to the end.

In [26]:
x[3:]

's is a string'

In [32]:
#EXERCISE: set variable name to your full name and print out the reverse of your last name using list slicing
name = 'Mars Huang'
print(name[-1:-6:-1])

gnauH

In [29]:
firstname = 'Mars'
lastname = 'Huang'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Mars' in firstname)

Mars Huang
MarsMarsMars
True

In [14]:
##EXERCISE: print the following
# print a,b and c on the same line
a = 1
b = 2
c = 3

1
2

In [34]:
# print lists a,b and c on the same line as seperate lists
a = [1,2]
b = [3,4]
c = [5,6]
print(a+b+c)

[1, 2, 3, 4, 5, 6]

In [36]:
# print lists the frist 4 elements of list A and the reverse of last 3 elements of list B as one list
A = [0,1,2,3,4,5,6,7,8,9]
B = [14,13,12,11,10]
print(A[:4]+B[-1:-4:-1])

[0, 1, 2, 3, 10, 11, 12]

<br>
`split` returns a list of all the words in a string, or a list split on a specific character.

In [43]:
name = 'Mars Shih-Cheng Huang'
print(name.replace("-"," "))

Mars Shih Cheng Huang

In [ ]:
#print out my last name and first name from "name" using list indexing and split

<br>
Make sure you convert objects to strings before concatenating.

In [44]:
'Mars' + 2

TypeError: Can't convert 'int' object to str implicitly

In [45]:
'Mars' + str(2)

'Mars2'

<br>
Dictionaries associate keys with values.

In [48]:
x = {'Mars Huang': 'marshuang80@gmail.com', 'Bill Gates': 'billg@microsoft.com'}
x['Mars Huang'] # Retrieve a value by using the indexing operator

'marshuang80@gmail.com'

In [51]:
x['Tony Stark'] = 'stark@gmial.com'
x['Tony Stark']

'stark@gmial.com'

<br>
Iterate over all of the keys:

In [52]:
for name in x:
    print(name)

Tony Stark
Bill Gates
Mars Huang

<br>
Iterate over all of the values:

In [20]:
for email in x.values():
    print(email)

None
billg@microsoft.com
brooksch@umich.edu

<br>
Iterate over all of the items in the list:

In [53]:
for name, email in x.items():
    print(name)
    print(email)

Tony Stark
stark@gmial.com
Bill Gates
billg@microsoft.com
Mars Huang
marshuang80@gmail.com

In [17]:
#Exercise: Create a dictionary called classes, with the classes you're taking as key, 
#and the grade that your want to recieve as index

In [18]:
#Exercise: print out all key, values from your diciotnary in the following format:
#"The grade that I want to revieve for ____ class is ____"

<br>
You can unpack a sequence into different variables:

In [23]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com')
fname, lname, email = x

In [24]:
fname

'Christopher'

In [25]:
lname

'Brooks'

<br>
Make sure the number of values you are unpacking matches the number of variables being assigned.

In [ ]:
x = ('Mars', 'Huang', 'marshuang80@gmail.com', 'San Diego')
fname, lname, email = x

<br>
# More on Strings and Printing

In [ ]:
print('Mars' + 2)

In [ ]:
print('Mars' + str(2))

<br>
Python has a built in method for convenient string formatting.

In [19]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [20]:
#Another method
print('%s bought %i item(s) at a price of %f each for a total of %f'%(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.240000 each for a total of 12.960000

In [ ]:
#Exercise: print out "I took 'a' shots and drank 'b' bottles of beer yesterday night"
a = 7
b = 2

# The Python Programming Language: Functions

In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

<br>
`add_numbers` is a function that takes two numbers and adds them together.

In [3]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

<br>
`add_numbers` updated to take an optional 3rd parameter. Using `print` allows printing of multiple expressions within a single cell.

In [ ]:
def add_numbers(x,y,z=None):
    if (z==None):
        return x+y
    else:
        return x+y+z

print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

<br>
`add_numbers` updated to take an optional flag parameter.

In [ ]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

<br>
Assign function `add_numbers` to variable `a`.

In [4]:
def add_numbers(x,y):
    return x+y

a = add_numbers
a(1,2)

3

In [22]:
##Quiz
#make a function that has two parameters: a list of numbers "num" a second number "val"
#return the sum of all odd numbers in num, minus the sum of all even numbers, 
#and multiply by val if a second parameter is given
num = [14,7,2,4,5,6,9,13,17,4,16,9,0,3]

#write function below

#two test cases:
print(get_result(num))
print(get_result(num,7)

<br>
# Reading and Writing CSV files
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [26]:
import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[{'': '1',
  'class': 'compact',
  'cty': '18',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'auto(l5)',
  'year': '1999'},
 {'': '2',
  'class': 'compact',
  'cty': '21',
  'cyl': '4',
  'displ': '1.8',
  'drv': 'f',
  'fl': 'p',
  'hwy': '29',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m5)',
  'year': '1999'},
 {'': '3',
  'class': 'compact',
  'cty': '20',
  'cyl': '4',
  'displ': '2',
  'drv': 'f',
  'fl': 'p',
  'hwy': '31',
  'manufacturer': 'audi',
  'model': 'a4',
  'trans': 'manual(m6)',
  'year': '2008'}]

<br>
`csv.Dictreader` has read in each row of our csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [27]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [30]:
mpg[0].keys()

dict_keys(['', 'cyl', 'class', 'manufacturer', 'model', 'drv', 'cty', 'trans', 'year', 'hwy', 'fl', 'displ'])

<br>
This is how to find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [ ]:
sum(float(d['cty']) for d in mpg) / len(mpg)

<br>
Similarly this is how to find the average hwy fuel economy across all cars.

In [ ]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [31]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

<br>
Here's a more complex example where we are grouping the cars by number of cylinder, and finding the average cty mpg for each group.

In [32]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [33]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

<br>
And here's an example of how to find the average hwy mpg for each class of vehicle in our dataset.

In [34]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]